.mediaSec1 {
    background: var(--yellow-light, #FCEDC6);
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 70px;
}

.media-left {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 40%;
}

.media {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.media-right {
    display: flex;
    text-align: left;
    justify-content: center;
}

.media-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    border-radius: 0.75rem;
    width: 60%;
    height: 90%;
    padding: 0px 10px;
    margin-top: 5%;
}

.media-box-row {
    display: flex;
    padding: 10px;
}

.media-box img {
    width: 180px
}

.media-box-right {
    margin-left: 7%;
}

.media-box-right h5 {
    color: var(--Primary-text, #1D2130);
    font-family: Roboto;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    margin: 0;
    margin-bottom: 5px;
    /* line-height: 150%; */
    /* 1.875rem */
}

.media-box-right .media-box-p1 {
    color: var(--Primary-text, #1D2130);
    font-family: Roboto;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    margin: 0;
    margin-bottom: 5px;
    /* line-height: 150%; */
    /* 1.3125rem */
    opacity: 0.5;

}

.media-box-right .media-box-p2 {
    color: var(--Secondary-text, #525560);

    /* Paragraph */
    font-family: Roboto;
    font-size: 1rem;
    margin: 0;
    font-style: normal;
    font-weight: 400;
    /* line-height: 160%; */
    /* 1.6rem */
}



.media-p1 {
    color: var(--Primary-text, #1D2130);
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
    margin-left: 5%;
    margin-bottom: 0;
}

.media-h2 {
    color: var(--Primary-text, #1D2130);

    /* H1 */
    font-family: Roboto;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin-left: 12%;
    /* 4.2rem */
}

.media-p2 {
    color: var(--Secondary-text, #525560);

    /* Paragraph */
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin-left: 12%;
    margin-top: 0;
    /* 1.6rem */
}

.media-btn {
    border-radius: 0.25rem;
    background: var(--Yellow, #F2C94C);
    color: #000;
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
    width: 25%;
    margin-top: 5%;
    padding: 10px;
    margin-left: 12%;
}